# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# VS Code
.vscode/

# Logs
*.log

# Elastic
data/

# OpenStack
*.qcow2
*.img

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# Large archives
*.zip
*.tar.gz